<div class="container-fluid col-sm-10 col-sm-offset-1">

<h3 id="privacy-policy">Privacy Policy</h3>

      <p>
        Product services and software are defined as “Services” and ttrumpet as “We”. Users of ttrumpet services that this term of service regulates are defined as “you”. By accepting the ttrumpet Privacy Policy you also accept the ttrumpet Terms and Conditions; End User Software License Agreement and the ttrumpet Fair Usage Policy.
      </p>


      <h4>Consent and Use</h4>
      <ul>
        <li>To provide the Service to you</li>
        <li>To create, manage and control your account information</li>
        <li>To communicate with you for the purpose of informing you of changes or additions to the Service, or of the availability of any service we provide</li>
        <li>To assess service levels, monitor traffic patterns and gauge popularity of different service options</li>
        <li>To verify access rights to services</li>
        <li>To contact you using email, the web or your mobile phone device with information regarding our Service and other services that are offered</li>
        <li>To activate functionality in service in any way</li>
        <li>To allow you to purchase and download our current and future services and software</li>
        <li>Where you have provided us with consent to do so, to carry out our marketing activities</li>
        <li>To enforce this Agreement</li>
        <li>To respond to claims of any violation of our rights or those of any third parties</li>
        <li>To respond to your requests for customer service</li>
        <li>To protect the rights, property or personal safety of you, us, our users and the public and</li>
        <li>As required or authorized by law</li>
        <li>And any other reasons needed to provide the service</li>
      </ul>

      <h4>Disclosure</h4>

      <p>
        You also accept that ttrumpet has the right to provide the above information to any third party for giving that party information so they via that information can adjust offers, packages or advertisement based on that information. However, no information will be provided if these third parties do not comply with ttrumpet at any time binding rules and regulation regarding in this area like anti-spam and such. Third parties will never have the right to reuse or re-distribute any information to any other party without a written consent from ttrumpet.
      </p>

      <h4>Age of Consent</h4>

      <p>
        By signing up, you acknowledge you are of legal age, provide true information and are fully authorized to sign-up to the service, in legal age or permitted by your guardians or parent to do so. We can never be hold accountable in any way if a user provides us with wrongful or misleading information while signing on for a service, downloading a service, activating a service or using a service or in any other way trying or using a service.
      </p>


      <h4>User Communications</h4>

      <p>
        We may contact you to confirm and verify the ownership of your mobile wireless device numbers collected as part of your account information. We may also communicate with you via email, text message or by phone to provide Service activation, account information, and information and services in regard to any issues with your account
      </p>

      <h4>Links</h4>

      <p>
        Our website, or services, may contain links to other sites and we are not responsible for the privacy practices or the content of such sites. We encourage you to read the privacy policy of linked sites. Their privacy policies and practices differ from our policies, practices and conduct of business, ttrumpet can therefore not in any way held be responsible for activities on third parties’ webpage, links or any product, services or packages.
      </p>


      <h4>Cookies, Log Files and IP Address</h4>
      <p>
        We may collect information about your computer, including where available your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers (see Aggregated Data). We will use this information to deliver relevant content and services to you. We may log call events but not record the call itself.
      </p>

      <h4>Change of Ownership or Business Transition</h4>

      <p>
        In the event of a change of ownership or other business transition, such as a merger, acquisition or sale of our assets, your information may be transferred. Your information will be transferred in accordance with applicable privacy laws.
      </p>


      <h4>Security</h4>

      <p>
        We will strive to prevent unauthorized access to your Personal Information, however, no data transmission over the Internet, by wireless device or over the air is guaranteed to be 100% secure. We may, at our sole discretion, enhance security procedures as new technologies and procedures become available. You are responsible for maintaining the secrecy of your identification, passwords and/or any Personal Information in your possession for the use of the Service.
      </p>

      <p>
        You are responsible for the use by others of any information which you provide to them. We cannot assume any responsibility for the content of any personal information or other information which you receive from other users through the Service, and you release us from any and all liability in connection with the contents of any Personal Information or other information which you may receive using the Service. We cannot guarantee, or assume any responsibility for verifying the accuracy of the Personal Information or other information provided by any third party. You release us from any and all liability in connection with the use of such Personal Information or other information of others.
      </p>

      <h4>Changes to Our Privacy Policy</h4>

      <p>
        We may modify our Privacy Policy from time to time for various reasons including to improve our privacy practices, to reflect changes to our Service, and to comply with relevant law.  Any changes we make to our Privacy Policy in will be posted on our webpage www.ttrumpet.com and implemented as any change of ttrumpet Terms and Conditions.
      </p>
</div>
