<div class="container-fluid col-sm-10 col-sm-offset-1">

      <h3 id="software-license-agreement">Software Licences</h3>

        <h4><a href="http://sourceforge.net/projects/zbar">ZBarSDK</a></h4>

        <p>Copyright 2007-2010 (c) Jeff Brown</p>

        <p>This file is part of the ZBar Bar Code Reader.</p>

        <p>
          The ZBar Bar Code Reader is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.</p>

        <p>
          The ZBar Bar Code Reader is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser Public License for more details.
        </p>

        <p>
          You should have received a copy of the GNU Lesser Public License along with the ZBar Bar Code Reader; if not, write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
        </p>


        <h4>ZaarkSDK</h4>
        <p>Version 3.1.3</p>
        <p>Copyright (c) 2013 Zaark</p>

        <p>All rights reserved.</p>
        <p>All code contained herein is and remains the property of Zaark.</p>
        <p>It may only be used only in accordance with the terms of the license agreement.</p>
        <p>Contact: contact@zaark.com</p>


        <h4>Qualcomm</h4>
        <p><a href="https://developer.vuforia.com/legal/license">Vuforia 2.8</a></p>

        <h4>SamsungBadger</h4>
        <p>Copyright 2013 Daniel Ochoa</p>
        <p>Licensed under the Apache License, Version 2.0 (the 'License'); you may not use this file except in compliance with the License. You may obtain a copy of the License at</p>
        <p><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></p>

        <p>
          Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.See the License for the specific language governing permissions and limitations under the License.
        </p>


        <h4>FacebookSDK</h4>
        <p>
          Except as otherwise noted, the Facebook SDK for Android is licensed under the Apache License, Version 2.0
          <a href="http://www.apache.org/licenses/LICENSE-2.0.html">http://www.apache.org/licenses/LICENSE-2.0.html</a>
        </p>

        <p>
          Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
        </p>


        <h4>Emojicon</h4>
        <p>Copyright 2014 Ankush Sachdeva</p>
        <p>
          Licensed under the Apache License, Version 2.0 (the 'License'); you may not use this file except in compliance with the License. You may obtain a copy of the License at
          </p>
        <p>
          <a href="http://www.apache.org/licenses/LICENSE-2.0.html">http://www.apache.org/licenses/LICENSE-2.0.html</a>
        </p>

        <p>
          Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
        </p>


        <h4>ChipsLibrary</h4>
        <p>Copyright (C) 2012 The Android Open Source Project</p>
        <p>Licensed under the Apache License, Version 2.0 (the 'License'); you may not use this file except in compliance with the License. You may obtain a copy of the License at </p>

        <p>
          <a href="http://www.apache.org/licenses/LICENSE-2.0.html">http://www.apache.org/licenses/LICENSE-2.0.html</a>
        </p>

        <p>
          Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
        </p>


    </div>
